<div class="row">
  <div class="col-md-5">
    
    <ul class="list-group"><h2>Contacts</h2>
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
          
          
          <input class="form-control" placeholder="Seach Your Contacts" type="text" [(ngModel)]="searchText">
            <contact class="list-group-item" [(ngRepeat)]="let contact of contacts | orderBy: 'name' | filter: searchText "></contact>
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
</div>